*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #3D087B;
    height: 100vh;
    width: 100%;
}
.main-container{
    margin: 2% 5%;
    display: flex;
}
.left-one{
    flex-basis: 50%;    
}
.left-one div{
    margin: 10px;
}
.logo-div img{
    height: 80px;
    margin: 0 0 5px;
}
.alarm-div{
    background: white;
    border: 2px solid #EDEDED;
    border-radius: 10px;
    padding: 10px 15px 10px 25px;
}
.alarm-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
}
.alarm-row img{
    width: 34px;
}
.alarm-row p{
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
}
.alarm-row select{
    flex-basis: 50%;
    align-self: stretch;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}
.alarm-row i{
    width: 34px;
}
hr{
    width: 1px;
    height: 30px;
    color: #EDEDED;
    margin: 0 40px;
}
.greet-div1{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    padding: 22px 25px;
}
.greet-div1 h1{
    color: white;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
.other-div{
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.alarm-button{
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) ;
    flex-basis: 50%;
    border-radius: 4px;
    padding: 10px 60px;
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: x-large;
    font-weight: 600;
    align-self: flex-start;
    letter-spacing: 1px;
    text-align: center;
}
.alarm-button:hover{
    background: transparent linear-gradient(to left, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) ;
    font-size: 0px;
}
.alarm-button:hover::after{
    content: attr(data-hover);
    font-size: x-large;
}
.time-list{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    flex-basis: 45%;
    color: #F25CFE;
    padding: 5px 7px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
.right-one{
    flex-basis: 48%; 
    display: flex;
    flex-direction: column;
    position: relative;   
}
.right-one div{
    margin: 10px;
}
.clock-div{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px;
}
.under-div{
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 10px;
    height: 130px;
    width: 450px;
    position: absolute;
    top: 7px;
    left: 53px;
    z-index: -1;
    flex: 1;
}
.bottom-div{
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    height: 130px;
    width: 380px;
    position: absolute;
    top: 19px;
    left: 88px;
    z-index: -2;
    flex: 1;

}
.time-title{
    align-self: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: large;
}
.hands{
    text-align: center;
    background: transparent url(./images/timeline.svg);
    color: #8A11BF;

}
.time{
    font-size: xx-large;
    
}
.unit{
    font-weight: 600;
}
span{
    width: 5px;
    align-self: center;
    margin: -46px;
    font-size: 40px;
    color: #8A11BF;
}
.ampm{
    align-self: center;
    background: url(./images/AM_svg.svg);
    padding: 25px 8px;
    font-size: xx-large;
}
.greet-div2{
    background: White;
    border-radius: 10px;
    padding: 40px 25px;
    margin-top: 20px ;
}
.greet-div2 h1{
    color: #8A11BF;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 28px;
}
.hero-div img{
    width: 100%;
}
@media(max-width:1260px){
    .time-list{
        flex-basis: 100%;        
    }
    .other-div{
        display: block;
    }
}
@media(max-width:520px){
    .main-container{
        flex-direction: column;
    }
    .hero-div img{
        width: 400px;
    }
    .under-div{
        display: none;
    }
    .bottom-div{
        display: none;
    } 
} 